sqlalchemy
requests
literalai
typing
pydantic
uvicorn
colorama
torch
fastapi
langchain
streamlit
streamlit-authenticator==0.2.2
llama-index
llama-index-cli
llama-index-core
llama-index-embeddings-huggingface
llama-index-indices-managed-llama-cloud
llama-index-legacy
llama-index-llms-huggingface
llama-index-llms-llama-cpp
llama-index-llms-ollama
llama-index-program-guidance
llama-index-program-lmformatenforcer
llama-index-readers-file
llama-index-readers-llama-parse
llama-parse
llama_cpp_python
llamaindex-py-client
langchain_community
langchain_experimental
imbox
chromadb